@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal.Account
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"]Tasker Admin</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/admin.css"/>
</head>
<body class="app">

@* <header> *@
@*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class='wrapper--wide flex-container flex--wrap'> *@
@*             <a class='navbar__logo' href='/admin'> *@
@*                 <img alt="Tasker" height="72" src="~/assets/tasker.svg"/> *@
@*                 Internal *@
@*             </a> *@
@*         </div> *@
@*         <div class="container"> *@
@*             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> *@
@*                 <partial name="_AdminLogin"/> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Addresses" asp-action="Index">Addresses</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="HourlyRates" asp-action="Index">HourlyRates</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Identifications" asp-action="Index">Identifications</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Invoices" asp-action="Index">Invoices</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Payments" asp-action="Index">Payments</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Reviews" asp-action="Index">Reviews</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="Skills" asp-action="Index">Skills</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="TaskerTasks" asp-action="Index">TaskerTasks</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserOnAddresses" asp-action="Index">UserOnAddresses</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserSkills" asp-action="Index">UserSkills</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserTasks" asp-action="Index">UserTasks</a> *@
@*                     </li> *@
@*                 </ul> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@

<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', function load() {
    const loader = document.getElementById('loader');
    setTimeout(function() {
      loader.classList.add('fadeOut');
    }, 300);
  });
</script>

<!-- App Content -->
<!-- =================================================== -->
<div>
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="~/assets/tasker.svg" alt="">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">Tasker</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 actived">
          <a class="sidebar-link" href="index.html">
            <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' asp-area="Admin" asp-controller="Addresses" asp-action="Index">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Addresses</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="compose.html">
            <span class="icon-holder">
              <i class="c-blue-500 ti-share"></i>
            </span>
            <span class="title">Compose</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="calendar.html">
            <span class="icon-holder">
              <i class="c-deep-orange-500 ti-calendar"></i>
            </span>
            <span class="title">Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="chat.html">
            <span class="icon-holder">
              <i class="c-deep-purple-500 ti-comment-alt"></i>
            </span>
            <span class="title">Chat</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="charts.html">
            <span class="icon-holder">
              <i class="c-indigo-500 ti-bar-chart"></i>
            </span>
            <span class="title">Charts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='sidebar-link' href="forms.html">
            <span class="icon-holder">
              <i class="c-light-blue-500 ti-pencil"></i>
            </span>
            <span class="title">Forms</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="ui.html">
            <span class="icon-holder">
                <i class="c-pink-500 ti-palette"></i>
              </span>
            <span class="title">UI Elements</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
              <i class="c-orange-500 ti-layout-list-thumb"></i>
            </span>
            <span class="title">Tables</span>
            <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class='sidebar-link' href="basic-table.html">Basic Table</a>
            </li>
            <li>
              <a class='sidebar-link' href="datatable.html">Data Table</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
                <i class="c-purple-500 ti-map"></i>
              </span>
            <span class="title">Maps</span>
            <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="google-maps.html">Google Map</a>
            </li>
            <li>
              <a href="vector-maps.html">Vector Map</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
                <i class="c-red-500 ti-files"></i>
              </span>
            <span class="title">Pages</span>
            <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class='sidebar-link' href="blank.html">Blank</a>
            </li>                 
            <li>
              <a class='sidebar-link' href="404.html">404</a>
            </li>
            <li>
              <a class='sidebar-link' href="500.html">500</a>
            </li>
            <li>
              <a class='sidebar-link' href="signin.html">Sign In</a>
            </li>
            <li>
              <a class='sidebar-link' href="signup.html">Sign Up</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
              <i class="c-teal-500 ti-view-list-alt"></i>
            </span>
            <span class="title">Multiple Levels</span>
            <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown">
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:void(0);">
                <span>Menu Item</span>
                <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="javascript:void(0);">Menu Item</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Menu Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
      
  <div class="container">
      <main role="main" class="pb-3">
          @RenderBody()
      </main>
  </div>

</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
