@model WebApp.ViewModels.ReviewCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewComment" class="control-label"></label>
                <input asp-for="Review.ReviewComment" class="form-control" />
                <span asp-validation-for="Review.ReviewComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewGiverId" class="control-label"></label>
                <select asp-for="Review.ReviewGiverId" class ="form-control" asp-items="Model.ReviewGiverSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewReceiverId" class="control-label"></label>
                <select asp-for="Review.ReviewReceiverId" class ="form-control" asp-items="Model.ReviewReceiverSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
