@using Domain.Enums
@using TaskStatus = Domain.Enums.TaskStatus
@model WebApp.ViewModels.TaskCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TaskerTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskName" class="control-label"></label>
                <input asp-for="TaskerTask.TaskName" class="form-control" />
                <span asp-validation-for="TaskerTask.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.Description" class="control-label"></label>
                <input asp-for="TaskerTask.Description" class="form-control" />
                <span asp-validation-for="TaskerTask.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TimeEstimate" class="control-label"></label>
                <input asp-for="TaskerTask.TimeEstimate" class="form-control" />
                <span asp-validation-for="TaskerTask.TimeEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskType" class="control-label"></label>
                <select asp-for="TaskerTask.TaskType" class="form-control" asp-items="Html.GetEnumSelectList<TaskType>()"></select>
                <span asp-validation-for="TaskerTask.TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskStatus" class="control-label"></label>
                <select asp-for="TaskerTask.TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatus>()"></select>
                <span asp-validation-for="TaskerTask.TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.AddressId" class="control-label"></label>
                <select asp-for="TaskerTask.AddressId" class ="form-control" asp-items="Model.AddressSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
