@using Domain.Enums
@using TaskStatus = Domain.Enums.TaskStatus
@model WebApp.ViewModels.TaskEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
<h4 class="title c-grey-900 mT-10 mB-30">@Resources.Views.Shared._Layout.Edit @Resources.Views.Shared._Layout.Task</h4>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskName" class="control-label"></label>
                <input asp-for="TaskerTask.TaskName" class="form-control" />
                <span asp-validation-for="TaskerTask.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.Description" class="control-label"></label>
                <input asp-for="TaskerTask.Description" class="form-control" />
                <span asp-validation-for="TaskerTask.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TimeEstimate" class="control-label"></label>
                <input asp-for="TaskerTask.TimeEstimate" class="form-control" />
                <span asp-validation-for="TaskerTask.TimeEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskType" class="control-label"></label>
                <select asp-for="TaskerTask.TaskType" class="form-control" asp-items="Html.GetEnumSelectList<TaskType>()"></select>
                <span asp-validation-for="TaskerTask.TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.TaskStatus" class="control-label"></label>
                <select asp-for="TaskerTask.TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatus>()"></select>
                <span asp-validation-for="TaskerTask.TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskerTask.AddressId" class="control-label"></label>
                <select asp-for="TaskerTask.AddressId" class="form-control" asp-items="Model.AddressSelectList"></select>
                <span asp-validation-for="TaskerTask.AddressId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TaskerTask.Id" />
            <hr />
            <div class="form-group">
                <a class="btn btn-outline-success" role="button" asp-action="Index">@Resources.Views.Shared._Layout.BackToList</a>
                <input class="btn btn-info" type="submit" value=@Resources.Views.Shared._Layout.Save style="float: right;"/>
            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
