@model WebApp.ViewModels.UserTaskEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserTask.Start" class="control-label"></label>
                <input asp-for="UserTask.Start" class="form-control" />
                <span asp-validation-for="UserTask.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTask.End" class="control-label"></label>
                <input asp-for="UserTask.End" class="form-control" />
                <span asp-validation-for="UserTask.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTask.TaskId" class="control-label"></label>
                <input asp-for="UserTask.TaskId" class="form-control" />
                <span asp-validation-for="UserTask.TaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTask.TaskGiverId" class="control-label"></label>
                <select asp-for="UserTask.TaskGiverId" class="form-control" asp-items="Model.TaskGiverSelectList"></select>
                <span asp-validation-for="UserTask.TaskGiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTask.TaskerId" class="control-label"></label>
                <select asp-for="UserTask.TaskerId" class="form-control" asp-items="Model.TaskerSelectList"></select>
                <span asp-validation-for="UserTask.TaskerId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserTask.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
