@model WebApp.ViewModels.InvoiceCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Views.Shared._Layout.Create @Resources.Views.Shared._Layout.Invoice</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceNumber" class="control-label"></label>
                <input asp-for="Invoice.InvoiceNumber" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Date" class="control-label"></label>
                <input asp-for="Invoice.Date" class="form-control" />
                <span asp-validation-for="Invoice.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.TotalWithVAT" class="control-label"></label>
                <input asp-for="Invoice.TotalWithVAT" class="form-control" />
                <span asp-validation-for="Invoice.TotalWithVAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.TotalWithoutVAT" class="control-label"></label>
                <input asp-for="Invoice.TotalWithoutVAT" class="form-control" />
                <span asp-validation-for="Invoice.TotalWithoutVAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.VAT" class="control-label"></label>
                <input asp-for="Invoice.VAT" class="form-control" />
                <span asp-validation-for="Invoice.VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Comment" class="control-label"></label>
                <input asp-for="Invoice.Comment" class="form-control" />
                <span asp-validation-for="Invoice.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.AppUserId" class="control-label"></label>
                <select asp-for="Invoice.AppUserId" class ="form-control" asp-items="Model.AppUserSelectList"></select>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-success" role="button" asp-action="Index">@Resources.Views.Shared._Layout.BackToList</a>
                <input type="submit" value=@Resources.Views.Shared._Layout.Create class="btn btn-primary" style="float: right;"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
