@model WebApp.ViewModels.InvoiceLinesCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InvoiceLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvoiceLine.Price" class="control-label"></label>
                <input asp-for="InvoiceLine.Price" class="form-control" />
                <span asp-validation-for="InvoiceLine.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.Amount" class="control-label"></label>
                <input asp-for="InvoiceLine.Amount" class="form-control" />
                <span asp-validation-for="InvoiceLine.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.VATpercentage" class="control-label"></label>
                <input asp-for="InvoiceLine.VATpercentage" class="form-control" />
                <span asp-validation-for="InvoiceLine.VATpercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.VAT" class="control-label"></label>
                <input asp-for="InvoiceLine.VAT" class="form-control" />
                <span asp-validation-for="InvoiceLine.VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.TotalWithoutVAT" class="control-label"></label>
                <input asp-for="InvoiceLine.TotalWithoutVAT" class="form-control" />
                <span asp-validation-for="InvoiceLine.TotalWithoutVAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.Total" class="control-label"></label>
                <input asp-for="InvoiceLine.Total" class="form-control" />
                <span asp-validation-for="InvoiceLine.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.Comment" class="control-label"></label>
                <input asp-for="InvoiceLine.Comment" class="form-control" />
                <span asp-validation-for="InvoiceLine.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceLine.InvoiceId" class ="form-control" asp-items="Model.InvoiceSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceLine.TaskId" class="control-label"></label>
                <select asp-for="InvoiceLine.TaskId" class ="form-control" asp-items="Model.TaskSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
