@using Domain.Enums
@model WebApp.ViewModels.IdentificationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Views.Shared._Layout.Create @Resources.Views.Shared._Layout.Identification</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identification.DocNumber" class="control-label"></label>
                <input asp-for="Identification.DocNumber" class="form-control" />
                <span asp-validation-for="Identification.DocNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification.IdentificationType" class="control-label"></label>
                <select asp-for="Identification.IdentificationType" class="form-control" asp-items="Html.GetEnumSelectList<IdentificationType>()"></select>
                <span asp-validation-for="Identification.IdentificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification.Start" class="control-label"></label>
                <input asp-for="Identification.Start" class="form-control" />
                <span asp-validation-for="Identification.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification.End" class="control-label"></label>
                <input asp-for="Identification.End" class="form-control" />
                <span asp-validation-for="Identification.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification.Comment" class="control-label"></label>
                <input asp-for="Identification.Comment" class="form-control" />
                <span asp-validation-for="Identification.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification.AppUserId" class="control-label"></label>
                <select asp-for="Identification.AppUserId" class ="form-control" asp-items="Model.AppUserSelectList"></select>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-success" role="button" asp-action="Index">@Resources.Views.Shared._Layout.BackToList</a>
                <input type="submit" value=@Resources.Views.Shared._Layout.Create class="btn btn-info" style="float: right;"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
